@CHARSET "ISO-8859-1";

#top{
	display:none;
}

#toptitle{
	font-style:italic;
	font-weight:bold;
	color:#d6bd91;
}

#handheldmenu{
	display:none;
}

.showprintonly{
	display:none;
}

#left{
	display:none;
}

.sidemenu h4{
	position: relative;
	left:-1em;
	font-family:Didot, Helvetica, sans-serif;
	margin-bottom:1px;
	padding-bottom: 1px;
}

.sidemenu a{
	display:block;
	padding:2px;
}

.legacysidemenu a{
	display:block;
	padding:2px;
}

.legacysidemenu{
	background-color:#d6bd91;
}

.imageleft{
	float:left;
	vertical-align:bottom;	
}

.imageright{
	float:right;
	clear:both;
}

#content{	
	position:relative;	
	padding:5px;
}

#bottom{
	display:none;
}